<% provide(:title, "RQM System") %>


<div class="parallax-container">
    <div class="parallax"><img src="/assets/background_home.jpg">
        
    </div>
    <div class="row">
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text">
                Welcome to the Room Quality Monitor System website. <br>
                This website is built on Ruby on Rails by students of VIVES Brugge <br>
                This application collects data of devices that connect via LoRaWAN to MQTT, the collected data is described when scrolling down the page.
            </span>
          </div>
        </div>
    </div>
</div>

<div class="section light-blue darken-1" >
    <div class="card-content white-text">
        <div class="center jumbotron">
            <h4>Oeeh, it's hot</h4>

        </div>
    </div>
</div>

    

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/temp-wallpaper">
        
    </div>
    <div class="row">
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text">
                <h4>Temperature</h4>
                Brrrr, it's cold here, would it be better in the other room?...<br>
                The application boards are equiped with a temperture sensor so you can check how hot
                or how cold it is in your room from anywhere you are! 
            </span>
          </div>
        </div>
    </div>
  </div>

  <div class="section light-blue darken-1" >
    <div class="card-content white-text">
        <div class="center jumbotron">
            <h4>Sounds like music</h4>
        </div>
    </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/audio-wallpaper">
        
    </div>
    <div class="row">
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text">
                <h4>Audiolevel</h4>
                What?! I didn't hear you! Want to know if a room is quiet and not a rock concert so that you can discover your inner self?
                One problem... you'll need to go where you want to be... Not anymore, just check it here from your seat!
            </span>
          </div>
        </div>
    </div>
  </div>

  <div class="section light-blue darken-1" >
    <div class="card-content white-text">
        <div class="center jumbotron">
            <h4>Humidity</h4>

        </div>
    </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/humidity-wallpaper">
        
    </div>
    <div class="row">
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text">
                <h4>Humidity</h4>
                Want to check the airquality? Take a look on your control page.
            </span>
          </div>
        </div>
    </div>
  </div>
 
  <div class="section light-blue darken-1" >
    <div class="card-content white-text">
        <div class="center jumbotron">
            <h4>A very bright mind</h4>

        </div>
    </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/light-wallpaper">
        
    </div>
    <div class="row">
        <div class="col s12 m5" >
          <div class="card-panel teal">
            <span class="white-text">
                <h4>A luminous idea</h4>
                We all have been there, you're out with friends or just left on vacation when suddenly something crosses your mind.
                Did i left the light turned on? Stop being worried! Check the luminosity of your room and be relaxed! Is it dark? No worries.
                Is it bright in your room? Well... ask a friend... <br><br>
                Hey! You reached the bottom of the homepage! Scroll back and login to check it out yourself!
            </span>
          </div>
        </div>
    </div>
  </div>
 