<% provide(:title, "RQM System Profile Page") %>
<% unless current_user %>
    <h1>ERROR 123</h1>
    <% else %>

        <div class="col s12 m7">
            <h2 class="header">Profile</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <%= image_tag(current_user.image,  :width => 220, :height => 220) %>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>
                            <%= current_user[:name] %>
                        </h3>
                    </div>
                    <div class="card-action">
                        <p>Email:
                            <%= current_user[:email] %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% end %>