/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 @import "materialize/components/color";
 $primary-color: color("light-blue", "darken-1") !default;

 @import 'materialize';

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.header{
  .nav-items{
    padding-top: 8%;
    
    a:visited{
      color: white;
    }
  }

}

ul#mobile_menu{
  li{
    a:visited{
      color: black !important;
    }
  }
}

nav ul a {
  font-size: 1.3rem;
}

a.link_to_profile{
  display: inline-block;
  background-color: transparent;
}

tr td:nth-child(n+3){
  width:1%;
  white-space:nowrap;
}