/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 @import "materialize/components/color";
 $primary-color: color("light-blue", "darken-1") !default;

 @import 'materialize';

 body#homepage{
  background: url("/assets/background_home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 a#brand-logo:hover{
   background: transparent;
 }


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.header{
  top: 0;

  img{
    margin-top: 7%;
    margin-left: 5%;
  }
  a:visited{
    color: white;
  }
  a:hover{
    background-color: transparent;
  }

  li{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
  }


  li:hover{
    background-color:rgba(0, 0, 0, 0.1);
    a{
      -webkit-transform: scale(1.15); 
    }
  }
}

ul#mobile_menu{
  li{
    a:visited{
      color: black !important;
    }
  }
}

nav ul {
  padding-right: 10px;
}

nav ul a {
  font-size: 1.3rem;
}

a.link_to_profile{
  display: inline-block;
  background-color: transparent;
}

tr td:nth-child(n+3){
  width:1%;
  white-space:nowrap;
}

body#homepage{
  div.container{
    display: table-footer-group;
    width: 100%;
    .para{
      padding-left: 36%;
      padding-top: 10%;
      padding-bottom: 10%;
    }
    .teal{
      background: rgba(#009688, 0.603) !important;
    }
  }
}

::-webkit-scrollbar {
  display: none;
  }
